server:
  port: 8080
  mode: debug
app:
  app_id: string
  config_id: string
  secret: string
  host_url_callback: https://28bb-122-50-6-195.ngrok-free.app
  host_client_callback: https://webhook.site/cd88d25a-3c1e-4b5f-b965-d90c3eeaf472 # access token will be send to here 
mongodb:
  host: localhost
  port: 27017
  username: admin
  password: secret
  database: redirect_api
  credential_database: credential_redirect_api
  collection: 
    token: client_token
    client_credential: credentials
  max_pool_size: 10
  connect_timeout: 5
  auth_source: admin